.yoda{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/yoda.jpg);
    background-size: cover;
}
.luke{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/luke.jpg);
    background-size: cover;
}
.r2d2{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/r2d2.jpg);
    background-size: cover;
}
.han{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/han.jpg);
    background-size: cover;
}
.leya{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/leya.jpg);
    background-size: cover;
}
.padme{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/padme.jpg);
    background-size: cover;
}
.anakin{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/anakin.jpg);
    background-size: cover;
}
.fin{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/chubaka.jpg);
    background-size: cover;
}
.lando{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/lando.jpg);
    background-size: cover;
}
.ray{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/ray.jpg);
    background-size: cover;
}
.grido{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/grido.jpg);
    background-size: cover;
}
.rankor{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/rankor.jpg);
    background-size: cover;
}
.obi{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/obi.jpg);
    background-size: cover;
}
.jar{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/jar.jpg);
    background-size: cover;
}
.dart_sidius{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/dart_sidius.jpg);
    background-size: cover;
}
.dart_mol{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/dart_mol.jpg);
    background-size: cover;
}
.dart_vaider{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/dart_vaider.jpg);
    background-size: cover;
}
.graf{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/graf.jpg);
    background-size: cover;
}
.general{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/general.jpg);
    background-size: cover;
}
.jango{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/jango.jpg);
    background-size: cover;
}
.ren{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/ren.jpg);
    background-size: cover;
}
.boba{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/bobba.jpg);
    background-size: cover;
}
.bossk{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/bossk.jpg);
    background-size: cover;
}
.jabba{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/jabba.jpg);
    background-size: cover;
}
.bib{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/bib.jpg);
    background-size: cover;
}
.cramb{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/cramb.jpg);
    background-size: cover;
}
.wat{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/wat.jpg);
    background-size: cover;
}
.maz{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/maz.jpg);
    background-size: cover;
}
.sebulba{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url(../img/sebulba.jpg);
    background-size: cover;
}