@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
    background-color: #4d4d4d;
}
h1{
    padding-left: 40px;
    width: calc(97% - 22px);
    height: 92px;
    color: #000;
    text-shadow: -2px -2px 0 #ffd54e, -2px -1px 0 #ffd54e, -2px 0 0 #ffd54e, -2px 1px 0 #ffd54e, -2px 2px 0 #ffd54e, -1px -2px 0 #ffd54e, -1px -1px 0 #ffd54e, -1px 0 0 #ffd54e, -1px 1px 0 #ffd54e, -1px 2px 0 #ffd54e, 0 -2px 0 #ffd54e, 0 -1px 0 #ffd54e, 0 0 0 #ffd54e, 0 1px 0 #ffd54e, 0 2px 0 #ffd54e, 1px -2px 0 #ffd54e, 1px -1px 0 #ffd54e, 1px 0 0 #ffd54e, 1px 1px 0 #ffd54e, 1px 2px 0 #ffd54e, 2px -2px 0 #ffd54e, 2px -1px 0 #ffd54e, 2px 0 0 #ffd54e, 2px 1px 0 #ffd54e, 2px 2px 0 #ffd54e;
    font-size: 100px;
    line-height: 86%;
    caret-color: #ffd54e;
    letter-spacing: initial;
    display: inline-block;
    width: 800px;
}
a{
    color: white;
}
.side li{
    font-family: 'Roboto Mono', monospace;
    border: 2px solid black;
    color: white;
    background-color: #333333;
}
.side_dark li{
    box-shadow: 6px 6px 8px 0px rgba(255, 0, 0, 0.4);
    transition: 0.5s;
}
.side_dark li:hover{
    box-shadow: 20px 20px 8px 0px rgba(255, 0, 0, 0.4);
    transition: 0.5s;
}
.side_light li{
    box-shadow: 6px 6px 8px 0px rgba(4, 0, 255, 0.4);
    transition: 0.5s;
}
.side_light li:hover{
    box-shadow: 20px 20px 8px 0px rgba(4, 0, 255, 0.4);
    transition: 0.5s;
}
.side_neitral li{
    box-shadow: 6px 6px 8px 0px rgba(251, 255, 0, 0.4);
    transition: 0.5s;
}
.side_neitral li:hover{
    box-shadow: 20px 20px 8px 0px rgba(251, 255, 0, 0.4);
    transition: 0.5s;
}
.side_light li{
    list-style-type: none;
    width: 400px;
    height: 150px;
    margin-bottom: 30px;
}
.side_dark li{
    list-style-type: none;
    width: 400px;
    height: 150px;
    margin-bottom: 30px;
}
.side_neitral li{
    list-style-type: none;
    width: 400px;
    height: 150px;
    margin-bottom: 30px;
}
.description_name{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 250px;
    height: 150px;
}
h4{
    text-align: center;
    font-size: 20px;
}
.side_light{
    vertical-align: top;
    display: inline-block;
    padding-right: 50px;
    color: blue;
}
.side_dark{
    vertical-align: top;
    display: inline-block;
    padding-right: 50px;
    color: red;
}
.side_neitral{
    vertical-align: top;
    display: inline-block;
    color: #ffd54e;
}

h2 {
    font-size: 60px;
    width: calc(97% - 22px);
    height: 92px;
    color: #000;
    text-shadow: -2px -2px 0 #ffd54e, -2px -1px 0 #ffd54e, -2px 0 0 #ffd54e, -2px 1px 0 #ffd54e, -2px 2px 0 #ffd54e, -1px -2px 0 #ffd54e, -1px -1px 0 #ffd54e, -1px 0 0 #ffd54e, -1px 1px 0 #ffd54e, -1px 2px 0 #ffd54e, 0 -2px 0 #ffd54e, 0 -1px 0 #ffd54e, 0 0 0 #ffd54e, 0 1px 0 #ffd54e, 0 2px 0 #ffd54e, 1px -2px 0 #ffd54e, 1px -1px 0 #ffd54e, 1px 0 0 #ffd54e, 1px 1px 0 #ffd54e, 1px 2px 0 #ffd54e, 2px -2px 0 #ffd54e, 2px -1px 0 #ffd54e, 2px 0 0 #ffd54e, 2px 1px 0 #ffd54e, 2px 2px 0 #ffd54e;
    line-height: 86%;
    caret-color: #ffd54e;
    letter-spacing: initial;
    text-align: center;
}
h3 {
    text-align: center;
    font-size: 40px;
    text-shadow: -2px -2px 0 black, -2px -1px 0 black, -2px 0 0 black, -2px 1px 0 black, -2px 2px 0 black, -1px -2px 0 black, -1px -1px 0 black, -1px 0 0 black, -1px 1px 0 black, -1px 2px 0 black, 0 -2px 0 black, 0 -1px 0 black, 0 0 0 black, 0 1px 0 black, 0 2px 0 black, 1px -2px 0 black, 1px -1px 0 black, 1px 0 0 black, 1px 1px 0 black, 1px 2px 0 black, 2px -2px 0 black, 2px -1px 0 black, 2px 0 0 black, 2px 1px 0 black, 2px 2px 0 black;
}
.soviet{
    background-image: url(../img/soviet.jpg);
    min-width: 100%; 
    height: 1080px; 
    margin-top: 220px;
    background-attachment: fixed;
    padding: 200px;
    margin: 200px 0;
}
html, body {
    width: 100%;
    padding: 0; 
    margin: 0;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 220px;
    z-index: 1000;
    vertical-align: top;
}
.quote{
    color: white;
    width: 300px;
    height: 450px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.80);
    padding: 30px;
    line-height: 1.5em;
}
.shortly{
    width: 80%;
    margin: 100px 190px;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: justify;
}
.side{
    width: 80%;
    margin: 200px 150px;
}
hr{
    width: 80%;
}
li{
    list-style-type: none;
}
footer{
    padding:3em 0;
    background-color: #333333;
}
.footer-container{
    margin: 0 auto;
    text-align: center;
}
footer ul li{
    display: inline-block;
}
footer ul li a{
    color: white;
    margin:0 1em;
    font-size:1.2rem;
    text-decoration:none;
}
footer ul li a:hover{
    color:#EE7B00;
}
b{
    color: white;
    font-size:1.2rem;
}

.sokol{
    transition: 0.5s;
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-top: 7px;
    background-image: url(../img/sokol_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 14px;
}
.description_sokol{
    transition: 0.5s;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 250px;
    height: 150px;
}
.description_sokol h4{
    color: white !important;
    font-family: 'Roboto Mono', monospace;
}
header a{
    margin-left: 500px;
    transition: 0.5s;
    height: 100px;
    display: inline-block;
    border:1px solid white;
    border-radius: 40px;
    font-size: 40px;
}
.description_sokol h4{
    transition: 0.5s;
    font-size: 30px;
    margin-top: 20px;
    margin-left: -35px;
}
header a:hover{
    transition: 0.5s;
    background-color: white;
}
header a:hover .description_sokol h4{
    transition: 0.5s;
    color: black !important;
}
header a:hover .sokol{
    transition: 0.5s;
    background-repeat: no-repeat;
    background-image: url(../img/sokol.png);
}
footer li{
    font-family: 'Roboto Mono', monospace;
}
footer b{
    font-family: 'Roboto Mono', monospace;
}